.advantages {
    min-height: 473px;
    padding: 70px 0 60px 0;
    background: #F6F6F6;

    &__header {
        font-weight: bold;
        font-size: 30px;
        color: #0D0D0D;
        display: flex;
        justify-content: center;
    }

    &__wrapper {
        margin-top: 60px;
        align-items: center;
        display: flex;
        justify-content: space-around;
        align-items: flex-start ;
        text-align: center;
    }

    &__item{
        width: 277px;
    }

    &__name {
        margin-top: 35px;
        font-weight: bold;
        font-size: 18px;
        color: #0D0D0D;
    }

    &__subsc {
        margin-top: 20px;
        font-weight: 300;
        font-size: 14px;
        color: #0D0D0D;
        span {
            color: red;
        }
    }

}