.button {
    border-radius: 5px;
    width: 153px;
    height: 32px;
    background-color: $main-color;
    border: none;
    font-weight: 500;
    font-size: 12px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    &_main{
        margin-top: 60px;
        width: 300px;
        height: 50px; 
        font-style: 16px;
    }
}