.catalog {
    padding-bottom: 100px;

    h2 {
        font-weight: 400;
        font-size: 30px;
        line-height: 45px;
        text-transform: uppercase;
        color: #0D0D0D;
        display: flex;
        justify-content: center;
    }

    &__tabs {
        margin-top: 70px;
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
        padding-left: 0;
    }

    &__tab {
        width: 222px;
        height: 52px;
        left: 211px;
        background: rgba(0, 0, 0, 0.0001);
        border: 2px solid #D0D0D0;
        box-sizing: border-box;
        font-weight: 400;
        font-size: 18px;
        line-height: 48px;
        text-transform: uppercase;
        color: #6B6B6B;
        text-align: center;
        margin: 0 5px;
        cursor: pointer;
        transition: 0.5s all;

        &:hover {
            box-shadow: 3px 3px 20px $main-color;
            border: none;
        }

        transform: skewX(-30deg);

        div {
            transform: skewX(30deg);
        }

        &_active {
            color: #fff;
            background-color: $main-color;
            border: none;
        }
    }

    &__content {
        display: none;
        flex-wrap: wrap;
        margin-top: 60px;
        &_active{
            display: flex;
        }

    }

    &-item {
        width: 303px;
        min-height: 442px;
        border: 2px solid #E8E8E8;
        box-sizing: border-box;
        padding: 20px 20px 26px 20px;
        overflow: hidden;
        margin: 0 5px;
        margin-bottom: 20px;

        &__img {
            max-width: 100%;
            height: 200px;
            display: block;
            margin: 0 auto;
        }

        &__subtitle {
            margin-top: 20px;
            font-weight: 700;
            font-size: 16px;
            line-height: 25px;
            text-align: center;
            color: #0D0D0D;
        }

        &__desc {
            margin-top: 16px;
            font-weight: 300;
            font-size: 14px;
            line-height: 22px;
            text-align: center;
            color: #0D0D0D;
        }

        &__link {
            font-weight: 500;
            font-size: 14px;
            line-height: 14px;
            text-align: center;
            text-decoration-line: underline;
            color: $main-color;
            display: block;
            margin: 0 auto;
            margin-top: 10px;
        }

        hr {
            width: 263px;
            height: 4px;
            margin-top: 17px;
            background-color: #E8E8E8;
        }

        &__footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__old-price {
            margin-top: 24px;
            font-weight: 300;
            font-size: 14px;
            line-height: 14px;
            text-decoration-line: line-through;
            color: #555555;
        }

        &__price {
            margin-top: 2px;
            font-weight: bold;
            font-size: 20px;
            line-height: 20px;
            color: #050505;
        }

        &__btn {
            margin-top: 17px;
            width: 135px;
            height: 44px;
            background: #C70101;
            font-weight: 500;
            font-size: 14px;
            line-height: 22px;
            text-align: center;
            text-transform: uppercase;
            border-radius: 5px;
        }

        &__wrapper {
            display: flex;
            width: calc(200% + 40px);
        }

        &__content {
            width: 50%;
            margin-right: 0px;
            transition: 0.5s all;
            transform: translateX(-100%);

            &_active {
                transform: translateX(0%);
                margin-right: 20px;
            }
        }

        &__list {
            position: relative;
            width: 50%;
            margin-left: 20px;
            padding-right: 20px;
            transition: 0.5s all;
            transform: translateX(0%);
            padding-left: 19px;
            margin-bottom: 0;
            list-style-type: none;

            &_active {
                transform: translateX(-100%);
                margin-left: 0;
            }

            li {
                position: relative;
                color: #555555;
                font-size: 14px;
                font-weight: 300;
                margin-bottom: 20px;

                &:before {
                    content: '';
                    position: absolute;
                    width: 5px;
                    height: 5px;
                    background-color: $main-color;
                    left: -14px;
                    top: 7px;
                }
            }
        }
        &__back{
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(calc(-50% - 19px));
            display: block;
            color: $main-color;
            font-size: 14px;
            font-weight: 500;
            text-decoration: underline;
            text-transform: uppercase;
            &:hover{
                color: $main-color;
            }
        }
    }
}