.consultation {
    min-height: 680px;
    background: url('../../img/bg/middle.jpeg') center (center / cover) no-repeat;
    padding: 100px 0 92px 0;

    &__header {
        font-weight: bold;
        font-size: 36px;
        text-transform: uppercase;
        color: #FFFFFF;
        text-align: left;
        line-height: 54px;
    }

    &__desc {
        line-height: 30px;
        margin-top: 80px;
        font-weight: 300;
        font-size: 20px;
        color: #FFFFFF;
        text-align: left;
    }
}