.footer {
    position: relative;
    height: 630px;

    &__info {
        padding: 50px 55px 55px 55px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 0;
        width: 460px;
        height: 270px;
        background-color: $main-color;
        box-sizing: border-box;
    }

    &__social {
        display: flex;
        flex-direction: row;
        justify-content: center;
        &-item {
            margin: 0 30px;
            width: 52px;
            height: 52px;
            box-sizing: border-box;
            border: 3px solid #FFFFFF;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                height: 22px;
            }
        }
    }

    &__address {
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        color: #fff;
        margin-bottom: 36px;
        text-align: center;
    }

    &__phone {
        display: block;
        margin-bottom: 36px;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
        color: #fff;
        text-decoration: none;
    }
}