.feed-form {
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    width: 300px;

    input {
        height: 54px;
        border-radius: 5px;
        margin-bottom: 15px;
        &:nth-child(3){
            margin-bottom: 20px;
        }
        border: none;
        padding: 0 20px;
        font-size: 14px;
        color: #4B4B4B;
        font-weight: 300;
    }
        
}