.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
        height: 48px;
        width: 260px;

        img {
            width: 100%;
        }
    }

    &__official {
        font-weight: 500;
        font-size: 12px;
        color: #FFFFFF;
        text-align: center;

        span {
            font-size: 18px;
            display: block;
            margin-top: 7px;
            font-weight: 500;
        }
    }

    &__phone {
        display: block;
        font-weight: 700;
        font-size: 18px;
        color: #fff;
        text-decoration: none;

        &:hover {
            text-decoration: none;
            color: #fff;
        }
    }

    &__contacts {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
}