.overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.56)
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #F2F2F2;
    width: 382px;
    min-height: 402px;
    padding: 38px 40px 40px 40px;
    .feed-form{
        margin: 36px auto;
    }
    &__close {
        position: absolute;
        top: -21px;
        right: -50px;
        font-size: 61px;
        color: $main-color;
        cursor: pointer;
    }

    &__subtitle {
        font-weight: 700;
        font-size: 19px;
        line-height: 19px;
        text-align: center;
        color: #0D0D0D;
    }

    &__descr {
        margin-top: 10px;
        font-weight: 500;
        font-size: 18px;
        line-height: 18px;
        text-align: center;
        color: #0D0D0D;
    }
    &_mini{
        min-height: 100px;
    }
}

#consultation, #order, #thanks{
    display: none;
}